<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
		<h1 class="project-name">菅原研究室</h1>
      <h2 class="project-tagline">電気通信大学</h2>
      {% if site.show_downloads %}
        <a href="/index.html" class="btn">ホーム</a>
        <a href="/member/sugawara.html" class="btn">メンバー</a>
        <a href="/project.html" class="btn">研究紹介</a>
        <a href="/publication.html" class="btn">研究成果</a>
        <a href="/lecture.html" class="btn">講義</a>
        <a href="/haizoku.html" class="btn">配属</a>
        <a href="/access.html" class="btn">所在地</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Sugawara Lab.</span>
      </footer>
    </main>
  </body>
</html>
